<% extends './layout/layout.html' %>


<% block breadnavigation %>
<div class="clean-breadcrumb">
    <a href="/">首页</a>
    <span class="separator">&#x2F;</span>
    <a href="/category/{{blog.category._id.toString()}}">{{blog.category.name}}</a>
    <span class="separator">&#x2F;</span>
    <a>博客名称</a>
</div>
<% endblock %>


<% block mainContent %>
    <article class="blog-post">
        <div class="body">
            <h1>{{blog.title}}</h1>
            <div class="meta">
                <i class="fa fa-user"></i> {{blog.author.username}} <i class="fa fa-calendar"></i>{{blog.update_at.toLocaleString()}}<i class="fa fa-comments"></i><span class="data"><a href="#comments">{{blog.coments.length}}</a></span>
            </div>
            <p>{{blog.content}}</p>
        </div>
    </article>
    <aside class="social-icons clearfix">
        <h3>Share on </h3>
        <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-google"></i></a>
    </aside>
<% endblock %>